<div class="wrapper-show">
  <h1>  <%= action %> a Cocktail</h1>
  <br><br>
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :attachinary %>

    <%= f.submit "submit", class: "btn btn-primary" %>
  <% end %>
</div>
