
<% unless @search %>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'mojito-cocktail-drink-for-desktop.jpg' %>);">
    <div class="banner-content">
      <br class="visible-xs"><br class="visible-xs">
      <%= link_to '/cocktails/search?query=' do %>
        <h1 class="text-center title">Cocktailmania</h1>
      <% end %>
      <br><br>

      <div class="wrapper-btn-large text-center">
        <%= link_to 'Add Your Own Cocktail', new_cocktail_path, class: 'btn-large' %>
      </div>
      <br><br><br>

      <form action="/cocktails/search" class="form-inline hidden-xs">
        <input type="text" placeholder="Search by name or ingredient" name="query" class="form-control input">
        <button type="submit" class="form-control btn-search">
          <i class="fa fa-search"></i>
        </button>
      </form>

      <form action="/cocktails/search" class="form-inline visible-xs">
        <input type="text" placeholder="Search by name or ingredient" name="query" class="form-control input">
      </form>


    </div>
  </div>

<% end %>


<br><br>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <% next unless cocktail.photo? || cocktail.picture %>
      <% if cocktail.photo? %>
        <% picture_path = "http://res.cloudinary.com/dkf3v0a5c/image/upload/" + cocktail.photo.path %>
      <% else %>
        <% picture_path = cocktail.picture %>
      <% end %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= picture_path %> );">
            <div class="card-category"> <%= cocktail.name %> </div>
            <div class="card-description"> <p> <%= cocktail.ingredients.map(&:name).join(', ') %> </p> </div>
            <div class="card-user"></div>
          </div>
          <%= link_to (cocktail) do %>
            <div class="card-link"></div>
          <% end %>
        </div>
    <% end %>
    <% if @cocktails.empty? %>
      <div class="text-center">
        <h2>Unfortunately we did not find your cocktail.</h2>
        <h2>Please try again.</h2>
        <br>
        <%= render "/shared/search" %>
      </div>
    <% end %>
  </div>
</div>




