<div class="container wrapper-show">

  <% if @cocktail.photo? %>
    <% picture_path = "http://res.cloudinary.com/dqonjhrsw/image/upload/" + @cocktail.photo.path %>
  <% else %>
    <% picture_path = @cocktail.picture %>
  <% end %>

  <div class="wrapper-header">
    <div class="row">
      <div class="col-xs-4">
        <div class="wrapper-title">
          <h1><%= @cocktail.name %></h1>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="wrapper-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= picture_path %> );">
        </div>
      </div>
    </div>
  </div>

  <br><br>

  <div class="container wrapper-grey dose-display rounded">
    <div class="row">
      <div class="col-xs-1"> <h3> <br> </h3> </div>
      <div class="col-xs-4"> <h3> Ingredient </h3> </div>
      <div class="col-xs-4"> <h3> Amount </h3> </div>
    </div>
      <% @cocktail.doses.each do |dose| %>
        <div class="row">
          <div class="col-xs-1">
            <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-minus red-minus"></i>
            <% end %>
          </div>
          <div class="col-xs-4"> <%= dose.ingredient.name %> </div>
          <div class="col-xs-4"> <%= dose.description %> </div>
        </div>
      <% end %>
    <br>
  </div>
  <br>


  <%= render 'doses/form' %>

</div>
